@import './reset.css';

/* 加载ing.. */
.load_cover {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  z-index: 999;
  position: fixed;
  left: 0;
  top:0;
}
body{
  background: #f8f8f8;;
}
.van-loading{
  width: 40px;
  height: 40px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%)
}

.van-loading__circular circle{
  stroke-width: 5px;
}

/* 颜色 */
.gray{
    background:rgba(40,50,71,0.03);
    height: 20px;    
}

.source-detail{
	padding: 40px 30px 10px;
	background: #fff;
}
.source-detail ._info{
	font-size: 26px;
	color: #283347;
	margin-bottom:40px;
	line-height: 40px;
}
.source-detail ._info .info-label{
	color:#666;
}
.wbba{
	word-break: break-all;
}